# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dll

# CUDA specific
*.cubin
*.ptx
*.fatbin
*.fatbin.c

# Other
*.log

# IDE related (for example, if you're using Visual Studio)
.vscode/
*.vscode/
*.vs/
*.suo
*.user
